.flex {
  display: flex;
  gap: 1rem;

  &.gap-0 {
    gap: 0;
  }

  &.gap-small {
    gap: 0.5rem;
  }

  &.gap-micro {
    gap: 0.2rem;
  }

  &.gap-large {
    gap: 2rem;
  }

  &.wrap {
    flex-wrap: wrap;

    &-reverse {
      flex-wrap: wrap-reverse;
    }
  }

  &-row {
    @extend .flex;
    flex-direction: row;

    &.left {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: flex-end;
    }

    &.btw {
      justify-content: space-between;
    }

    &.top {
      align-items: flex-start;
    }

    &.middle {
      align-items: center;
    }

    &.bottom {
      align-items: flex-end;
    }
  }

  &-col {
    @extend .flex;
    flex-direction: column;

    &.left {
      align-items: flex-start;
    }

    &.center {
      align-items: center;
    }

    &.right {
      align-items: flex-end;
    }

    &.btw {
      justify-content: space-between;
    }

    &.top {
      justify-content: flex-start;
    }

    &.middle {
      justify-content: center;
    }

    &.bottom {
      justify-content: flex-end;
    }
  }
}

.grid {
  display: grid;
  gap: 1rem;

  &.no-gap {
    gap: 0;
  }

  &.small-gap {
    gap: 0.5rem;
  }

  &.micro-gap {
    gap: 0.2rem;
  }

  &-row {
    &-2 {
      @extend .grid;
      grid-template-rows: repeat(2, 1fr);
    }
    &-3 {
      @extend .grid;
      grid-template-rows: repeat(3, 1fr);
    }
    &-4 {
      @extend .grid;
      grid-template-rows: repeat(4, 1fr);
    }
    &-5 {
      @extend .grid;
      grid-template-rows: repeat(5, 1fr);
    }
  }

  &-col {
    &-2 {
      @extend .grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &-3 {
      @extend .grid;
      grid-template-columns: repeat(3, 1fr);
    }
    &-4 {
      @extend .grid;
      grid-template-columns: repeat(4, 1fr);
    }
    &-5 {
      @extend .grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.h {
  &-full {
    height: 100vh;
  }
  &-100 {
    height: 100%;
  }
  &-50 {
    height: 50%;
  }
}

.w {
  &-full {
    width: 100vw;
  }
  &-100 {
    width: 100%;
  }
  &-50 {
    width: 50%;
  }
}

.p {
  &-small {
    padding: var(--small);
  }
  &-medium {
    padding: var(--medium);
  }
  &-large {
    padding: var(--large);
  }
}

.px {
  &-small {
    padding-left: var(--small);
    padding-right: var(--small);
  }
  &-medium {
    padding-left: var(--medium);
    padding-right: var(--medium);
  }
  &-large {
    padding-left: var(--large);
    padding-right: var(--large);
  }
}

.py {
  &-small {
    padding-top: var(--small);
    padding-bottom: var(--small);
  }
  &-medium {
    padding-top: var(--medium);
    padding-bottom: var(--medium);
  }
  &-large {
    padding-top: var(--large);
    padding-bottom: var(--large);
  }
}

.m {
  &-small {
    margin: var(--small);
  }
  &-medium {
    margin: var(--medium);
  }
  &-large {
    margin: var(--large);
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;

  &-center {
    @extend .absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
