<div class="flex-col center main-container py-large gap-large">
  <h1>Create your game</h1>
  <div class="flex-row w-100 center top">
    <form [formGroup]="form">
      <p-card>
        <p-stepper [value]="1">
          <!-- ---------------------------------------------------------- -->
          <!--------------------- General informations --------------------->
          <!-- ---------------------------------------------------------- -->
          <p-step-item [value]="1">
            <p-step>General informations</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex-col left middle w-100 wrap">
                  <div class="flex-row left bottom w-100">
                    @if($gameImagePreview()) {
                    <img
                      [src]="$gameImagePreview()"
                      alt="Game Image Preview"
                      class="preview"
                    />
                    }@else {
                    <p class="info-empty">No image selected.</p>
                    }
                    <div class="flex-col w-100">
                      <!-- Title -->
                      <p-floatlabel variant="on">
                        <input
                          pInputText
                          id="on_label"
                          autocomplete="off"
                          formControlName="name"
                        />
                        <label for="on_label">Name *</label>
                      </p-floatlabel>
                      <!-- Image -->
                      <p-fileUpload
                        accept="image/*"
                        maxFileSize="5000000"
                        chooseLabel="Select an image"
                        mode="basic"
                        [customUpload]="true"
                        [auto]="true"
                        (uploadHandler)="onUpload($event)"
                      ></p-fileUpload>
                    </div>
                  </div>
                  <!-- Description -->
                  <p-floatlabel variant="on">
                    <textarea
                      pTextarea
                      id="over_label"
                      rows="10"
                      style="resize: none"
                      formControlName="description"
                    ></textarea>
                    <label for="on_label">Description</label>
                  </p-floatlabel>
                  <p-button label="Next" (onClick)="activateCallback(2)" />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="2">
            <p-step>Attributes</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex-col">
                  <p>
                    Attributes are the foundation of your game's mechanics. It
                    will be used to create Player characters, NPCs, items, and
                    more.
                  </p>
                  <!-- Attribute Form -->
                  <form
                    [formGroup]="attributeForm"
                    class="flex-col w-100 left middle mb-small"
                  >
                    <div class="flex-row">
                      <!-- Name -->
                      <p-floatlabel variant="on" class="w-100 mr-small">
                        <input
                          pInputText
                          id="attribute_name"
                          autocomplete="off"
                          formControlName="name"
                        />
                        <label for="attribute_name">Name *</label>
                      </p-floatlabel>
                      <!-- Max Value -->
                      <p-floatlabel variant="on" class="w-100 mr-small">
                        <p-inputnumber
                          id="attribute_maxValue"
                          formControlName="maxValue"
                          autocomplete="off"
                          fluid="true"
                        />
                        <label for="attribute_maxValue">Max Value</label>
                      </p-floatlabel>

                      <!-- Stats Point Cost -->
                      <p-floatlabel variant="on" class="w-100 mr-small">
                        <p-inputnumber
                          id="attribute_statsPointCost"
                          formControlName="statsPointCost"
                          mode="decimal"
                          [minFractionDigits]="1"
                          autocomplete="off"
                        />
                        <label for="attribute_statsPointCost"
                          >Stats Point Cost*</label
                        >
                      </p-floatlabel>
                    </div>
                    <div class="flex-row middle">
                      <!-- Dynamic -->
                      <p-selectbutton
                        [options]="[
                          { label: 'Regular', value: false },
                          { label: 'Dynamic', value: true }
                        ]"
                        formControlName="dynamic"
                        optionLabel="label"
                        optionValue="value"
                        aria-labelledby="basic"
                      />

                      <!-- Color -->
                      @if(attributeForm.value.dynamic){
                      <p-colorpicker formControlName="color" />
                      }

                      <p-button
                        size="small"
                        icon="pi pi-plus"
                        label="Add Attribute"
                        (click)="onAddAttribute()"
                      ></p-button>
                    </div>
                  </form>

                  <table>
                    <tr>
                      <th>Name</th>
                      <th>Max</th>
                      <th>Cost</th>
                      <th>Dynamic</th>
                      <th>Color</th>
                      <th></th>
                    </tr>
                    @for(attr of $attributes(); track attr.name) {
                    <tr class="show-actions-on-hover">
                      <td>{{ attr.name }}</td>
                      <td>{{ attr.maxValue ? attr.maxValue : "∞" }}</td>
                      <td>{{ attr.statsPointCost }}</td>
                      <td>{{ attr.dynamic ? "Y" : "N" }}</td>
                      <td>
                        @if(attr.dynamic){
                        <div
                          class="color-preview"
                          [style.background]="attr.color"
                        ></div>
                        }
                      </td>
                      <td class="action-col">
                        <!-- go up button -->
                        <p-button
                          icon="pi pi-sort-up-fill"
                          class="action-hover"
                          severity="contrast"
                          [rounded]="true"
                          size="small"
                          [text]="true"
                          (click)="onMoveAttributeUp($index)"
                        ></p-button>
                        <p-button
                          icon="pi pi-trash"
                          severity="contrast"
                          [rounded]="true"
                          size="small"
                          [text]="true"
                          (click)="onRemoveAttribute($index)"
                        ></p-button>
                      </td>
                    </tr>
                    }@empty {
                    <tr>
                      <td colspan="6" class="text-center">
                        No attribute added yet.
                      </td>
                    </tr>
                    }
                  </table>
                  <div class="flex-row">
                    <p-button
                      label="Back"
                      severity="secondary"
                      (onClick)="activateCallback(1)"
                    />
                    <p-button label="Next" (onClick)="activateCallback(3)" />
                  </div>
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="3">
            <p-step>Other</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex-col">
                  <!-- input number for base amount of points -->
                  <p-floatlabel variant="on">
                    <input
                      pInputText
                      id="base_points"
                      type="number"
                      formControlName="startingStatsPoints"
                    />
                    <label for="base_points"
                      >Starting amount of stats points</label
                    >
                  </p-floatlabel>
                  <!-- Base money -->
                  <p-floatlabel variant="on">
                    <input
                      pInputText
                      id="base_money"
                      type="number"
                      formControlName="startingMoney"
                    />
                    <label for="base_money">Starting amount of money</label>
                  </p-floatlabel>
                  <div class="flex-row">
                    <p-button
                      label="Back"
                      severity="secondary"
                      (onClick)="activateCallback(2)"
                    />
                    <p-button
                      label="Submit"
                      (click)="onSubmit()"
                      [disabled]="form.invalid"
                    ></p-button>
                  </div>
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>
        </p-stepper>
      </p-card>
    </form>
  </div>
</div>
