input,
textarea,
p-floatlabel,
p-inputnumber {
  width: 100%;
}

.preview {
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}

form {
  width: 100%;
  max-width: 700px;
}

app-loading {
  width: 50%;
  // max-width: 100vh;
}

th {
  text-align: left;
}

.action-col {
  text-align: right;
}

.color-preview {
  width: 1rem;
  aspect-ratio: 1 / 1;
  border-radius: 0.25rem;
}

.show-actions-on-hover {
  .action-hover {
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:hover {
    .action-hover {
      opacity: 1;
    }
  }
}
