@use "../../../../styles/mixins.scss" as *;

form {
  width: 300px;
}

.illustration {
  width: 50vw;
  max-width: 500px;

  @include width-under(600px) {
    display: none;
  }
}

.error-message {
  font-size: 0.7rem;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.pwd-info {
  font-size: 0.7rem;
}
